<ul class="nav">
    <li class="nav"><a href="/">lessis.moe</a></li>
    <li class="nav"><a href="/projects">Projects</a></li>
    <li class="nav"><a href="#">About</a></li>
</ul>
<div style="height: 50px;"></div>
<div class="announce">
	<p class="announce">Pardon the dust! This site is in active development and is not complete.</p>
</div>