<ul class="nav">
    <li class="nav"><a href="/">lessis.moe</a></li>
    <li class="nav"><a href="/projects">Projects</a></li>
    <li class="nav"><a href="#">About</a></li>
</ul>
<div style="height: 48px;"></div>