<!DOCTYPE html>
<html>
<head>
<% include ../partials/header %>
</head>
<body>
<% include ../partials/nav %>

<h1>404 - Resource Not Found</h1>
<center>If something used to be here, it wandered off.</center>

<% include ../partials/footer %>
</body>
</html>