<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header %>
</head>
<body>
<% include ../partials/nav %>
<h1>About The Developer</h1>
<section>
	
</section>
<% include ../partials/footer %>
</body>
</html>