<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header %>
</head>
<body>
<% include ../partials/nav %>

<center><img src="src/images/logo.png" width="250px"></center>
<h1>Less Is More</h1>
<% include ../partials/footer %>
</body>
</html>