<!DOCTYPE html>
<html>
<head>
<% include ../partials/header %>
</head>
<body>
<% include ../partials/nav %>

<!-- Inline because I suck at CSS and don't want to use jQuery -->
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0  -->
<svg class="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="240.82542px" height="278.08044" viewBox="0 0 364.887 421.334" enable-background="new 0 0 364.887 421.334"
	 xml:space="preserve">
<g id="solidFill">
	<path class="logoBackground" d="M182.443,0L0,105.333v210.667l182.443,105.333l182.444-105.333V105.333L182.443,0z M322.547,218.436
		L119.118,335.884l-22.967-13.26l226.396-130.71V218.436z M182.443,48.89l91.723,52.957L42.339,235.69V129.778L182.443,48.89z
		 M42.339,281.237l271.27-156.619l8.938,5.16v16.59L56.707,299.851l-14.367-8.295V281.237z M182.443,372.444l-23.88-13.787
		l163.984-94.677v27.575L182.443,372.444z"/>
</g>
<g id="gradient">
	<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="182.4429" y1="0" x2="182.4429" y2="421.3345">
		<stop  offset="0.2366" style="stop-color:#000000;stop-opacity:0.1"/>
		<stop  offset="0.7634" style="stop-color:#000000;stop-opacity:0.4"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.7"/>
	</linearGradient>
	<path fill="url(#SVGID_1_)" d="M182.443,0L0,105.333v210.667l182.443,105.333l182.444-105.333V105.333L182.443,0z M322.547,218.436
		L119.119,335.884l-22.968-13.26l226.396-130.71V218.436z M182.443,48.89l91.723,52.957L42.339,235.69V129.778L182.443,48.89z
		 M42.339,281.237l271.27-156.619l8.938,5.16v16.59L56.707,299.851l-14.367-8.295V281.237z M182.443,372.444l-23.881-13.787
		l163.985-94.677v27.575L182.443,372.444z"/>
</g>
</svg>
<h1>Less Is More</h1>

<% include ../partials/footer %>
</body>
</html>