<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header %>
</head>
<body>
<% include ../partials/nav %>
<section>
	<h1>Projects</h1>
	<p>Every project listed is a product of passion, and was created out of my own personal interest.
	Currently every project (with the exception of my site) is related to <a href="https://discordapp.com/">Discord</a>,
	a voice/text application primarily meant for the gaming community.</p>
	<h2>Utilibot - Moderation Bot</h2>
	<h3>Purpose</h3>
	<p>Enhanced moderation features for the server moderation team, including an external moderation audit log,
	configurable event logging, and automated moderation actions.</p>
	<a href="projects/utilibot"><h3>Further Information</h3></a>
	<h3>Github</h3>
	<p>Link pending rewrite</p>
	<br>
	<h2>Uptime.exe - Uptime Tracker</h2>
	<h3>Purpose</h3>
	<p>Initially created to track the uptime of bots within a server, functionality was later expanded to include all users,
	and provide information on a user's ranking within the server.</p>
	<a href="#"><h3>Further Information</h3></a>
	<h3>Github</h3>
	<p>Soon</p>
	<br>
	<h2>Tachyon - Statistics Tracker</h2>
	<h3>Purpose</h3>
	<p>Collects data on server activity, and creates charts displaying relevant statistics over time.</p>
	<a href="#"><h3>Further Information</h3></a>
	<h3>Github</h3>
	<p>Soon</p>
	<br>
	<h2>lessis.moe - Project Host</h2>
	<h3>Purpose</h3>
	<p>Hosts my personal projects, and displays select personal information.</p>
	<a href="projects/site"><h3>Further Information</h3></a>
	<h3>Github</h3>
	<p>Soon</p>
</section>
<% include ../partials/footer %>
</body>
</html>