/*
* Stylesheet for lessis.moe
*/
:root {
	--main-bg: #EFEFEF;
	--main-text: #0A1612;
	--nav-bg: #0A1612;
	--nav-bg-hovor: #555;
	--nav-text: #EFEFEF;
	--nax-text-hovor: #EFEFEF;
	--accent: #3CC47C;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Verdana, Geneva, sans-serif;
    background-color: var(--main-bg);
    color: var(--main-text);
    text-decoration-color: var(--accent);
}

ul {
    margin-top: 0px;
    list-style-type: none;
}

/* Top navbar */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--nav-text);
    background-color: var(--nav-bg);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    opacity: 0.9;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: var(--nav-bg);
    border-right: 1px solid var(--accent);
}

li.nav a:hover {
    background-color: var(--nav-bg-hovor);
}

p.footer {
    font-size: 12px;
    text-align: center;
}

p.footer span {
	color: var(--accent);
}

section {
    width: 85%;
    margin: auto;
}

section.aside {
    width: 60%;
    margin: 0px;
    margin-left: 10%;
}

/* Side navbar */
aside {
    position: fixed;
    right: 20px;
    top: 48px;
    width: 220px;
    float: right;
    border: 2px solid var(--nav-bg);
    border-radius: 5px;
}

ul.sidebar {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.sidebar li {
    padding-left: 1px;
    text-indent: -0.7px;
}

ul.sidebar li:before {
    content: "\002022 ";
    color: var(--accent);
}

ul.sidebar li a {
    text-decoration: none;
}

code {
    font-family: Lucida Console;
    background-color: #AAA;
    padding: 3px;
}

/* Headings */
h1 {
    text-align: center;
    color: var(--accent);
}

h2 {
    border-bottom-style: solid;
    border-bottom-color: var(--accent);
}

h3 {
    color: var(--accent);
    margin-bottom: 3px;
}

h4 {
    border-left-style: solid;
    border-left-color: var(--accent);
    margin: 0px;
    padding: 0px;
    padding-left: 3px;
}